*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Epilogue", sans-serif; }

.container {
  padding-left: 0rem;
  padding-right: 0rem; }

@media only screen and (max-width: 992px) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 768px) {
  html {
    font-size: 37%; } }

@media only screen and (max-width: 576px) {
  html {
    font-size: 34%; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0; }
  @media only screen and (max-width: 576px) {
    .header {
      padding: 4rem 2rem; } }
  .header-btn {
    text-decoration: none;
    color: #17243a;
    font-size: 1.6rem;
    font-weight: 700;
    border: 1.5px solid #17243a;
    padding: 1.5rem 2rem;
    border-radius: 0.4rem;
    transition: all 0.2s; }
    @media only screen and (max-width: 576px) {
      .header-btn {
        border-radius: 1rem; } }
    .header-btn:hover, .header-btn:active {
      color: #fff;
      background-color: #17243a;
      text-decoration: none;
      scale: 1.05; }

footer {
  background-color: #f3ede7; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30rem;
  padding-bottom: 10rem; }
  @media only screen and (max-width: 576px) {
    .footer {
      flex-direction: column;
      gap: 5rem; } }
  .footer-copyright {
    font-size: 1.5rem;
    margin: 0;
    color: #89919d; }
  .footer-social {
    display: flex;
    gap: 2rem; }
    .footer-social img {
      cursor: pointer;
      transition: all 0.2s; }
      .footer-social img:hover {
        scale: 1.2; }

.hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8rem; }
  @media only screen and (max-width: 992px) {
    .hero {
      grid-template-columns: 1fr 0.25fr 0.5fr;
      grid-template-rows: 50rem 1fr; } }
  @media only screen and (max-width: 576px) {
    .hero {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
      gap: 0; } }
  .hero-cta {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 10; }
    @media only screen and (max-width: 992px) {
      .hero-cta {
        grid-column: 1/3;
        grid-row: 1/2; } }
  @media only screen and (max-width: 992px) and (max-width: 576px) {
    .hero-cta {
      padding: 0rem 2rem; } }
    .hero-cta-main-heading {
      font-size: 8rem;
      margin-bottom: 4rem;
      margin-top: 5rem;
      font-weight: normal; }
      @media only screen and (max-width: 1200px) {
        .hero-cta-main-heading {
          font-size: 6rem; } }
      @media only screen and (max-width: 992px) {
        .hero-cta-main-heading {
          font-size: 7.6rem; } }
      @media only screen and (max-width: 576px) {
        .hero-cta-main-heading {
          font-size: 6.5rem; } }
    .hero-cta-span {
      font-weight: 700;
      position: relative; }
    .hero-cta-span:first-child::before {
      content: "";
      position: absolute;
      left: 1rem;
      top: -3rem;
      height: 4rem;
      width: 97%;
      background-image: url(../img/pattern-curved-line-1.svg);
      background-repeat: no-repeat;
      background-size: 50% 100%;
      background-position: top right; }
    .hero-cta-text {
      font-size: 2rem;
      width: 33rem;
      margin-bottom: 6rem;
      color: #89919d; }
      @media only screen and (max-width: 992px) {
        .hero-cta-text {
          font-size: 2.5rem;
          width: 48rem; } }
      @media only screen and (max-width: 576px) {
        .hero-cta-text {
          width: 90%; } }
    .hero-cta-btn {
      text-decoration: none;
      background-color: #17243a;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700;
      border: 1.5px solid #17243a;
      padding: 1.6rem 2rem;
      border-radius: 0.4rem;
      transition: all 0.2s; }
      @media only screen and (max-width: 576px) {
        .hero-cta-btn {
          font-size: 2.5rem;
          display: block;
          width: 70%;
          text-align: center;
          border-radius: 1rem; } }
      .hero-cta-btn:hover, .hero-cta-btn:active {
        color: #17243a;
        background-color: #fff;
        text-decoration: none;
        scale: 1.05; }
  .hero-img {
    background-image: url(../img/image-hero-portrait@2x.png);
    grid-column: 3/5;
    grid-row: 1/2;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 57rem;
    margin-right: 3rem;
    margin-left: 3rem; }
    @media only screen and (max-width: 992px) {
      .hero-img {
        grid-column: 2/4;
        grid-row: 1/2;
        background-image: url(../img/image-hero-portrait.png); } }
    @media only screen and (max-width: 576px) {
      .hero-img {
        background-image: url(../img/image-hero-landscape.png);
        grid-column: 1/2;
        grid-row: 2/3; } }
  .hero-numbers {
    grid-column: 5/6;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    list-style: none;
    gap: 3rem; }
    @media only screen and (max-width: 992px) {
      .hero-numbers {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 8rem;
        grid-column: 1/4;
        grid-row: 2/3; } }
    @media only screen and (max-width: 576px) {
      .hero-numbers {
        grid-row: 3/4;
        grid-column: 1/2;
        flex-direction: column;
        text-align: center; } }
    .hero-numbers-number-top {
      font-size: 5rem;
      font-weight: 700; }
    .hero-numbers-number-bottom {
      font-size: 1.9rem;
      color: #89919d; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0; }
  @media only screen and (max-width: 576px) {
    .header {
      padding: 4rem 2rem; } }
  .header-btn {
    text-decoration: none;
    color: #17243a;
    font-size: 1.6rem;
    font-weight: 700;
    border: 1.5px solid #17243a;
    padding: 1.5rem 2rem;
    border-radius: 0.4rem;
    transition: all 0.2s; }
    @media only screen and (max-width: 576px) {
      .header-btn {
        border-radius: 1rem; } }
    .header-btn:hover, .header-btn:active {
      color: #fff;
      background-color: #17243a;
      text-decoration: none;
      scale: 1.05; }

.review {
  background-color: #17243a;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: 50rem;
  position: relative;
  bottom: -25rem;
  border-radius: 2rem; }
  @media only screen and (max-width: 992px) {
    .review {
      grid-template-columns: 1fr;
      height: 55rem; } }
  .review-img {
    background-image: url(../img/image-jeremy-large.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    background-size: contain;
    height: 108%;
    transform: translate(0px, -4rem);
    grid-column: 1/2;
    grid-row: 1/2; }
    @media only screen and (max-width: 1200px) {
      .review-img {
        transform: translate(0px, -6rem); } }
    @media only screen and (max-width: 992px) {
      .review-img {
        background-image: url(../img/image-jeremy-small.png);
        height: 25rem;
        transform: translate(0px, -11rem); } }
    .review-img::after {
      content: "";
      background-image: url(../img/pattern-curved-line-2.svg);
      background-repeat: no-repeat;
      position: absolute;
      top: 20rem;
      left: 85%;
      width: 100%;
      height: 5.5rem; }
      @media only screen and (max-width: 992px) {
        .review-img::after {
          top: 27rem;
          left: 40%;
          width: 20%; } }
      @media only screen and (max-width: 576px) {
        .review-img::after {
          left: 35%; } }
  .review-text {
    padding: 8rem 8rem 8rem 4rem; }
    @media only screen and (max-width: 992px) {
      .review-text {
        margin: 0 auto;
        text-align: center;
        transform: translateY(-3rem);
        width: 76%;
        padding: 0; } }
    .review-text-heading {
      font-size: 4.5rem;
      font-weight: normal; }
    .review-text-span {
      font-weight: 700; }
    .review-text-quotes {
      font-size: 2rem;
      margin: 4rem 0;
      color: #89919d; }
    .review-text-name {
      font-size: 2rem; }
    .review-text-position {
      font-size: 1.6rem;
      color: #89919d; }
