$color-primary: #17243a;
$color-secondary: #89919d;

$fw-bold: 700;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Epilogue", sans-serif;
}
